/* body {
  background-color: lightgreen;
} */

.smallbox {
  border: 4px solid purple;
  width: 26%;
  float: left;
  margin-left: 3%;
  text-align: center;
  padding-bottom: 2%;
  height:200px;
}

.smallbox > button {

  background-color: orange;
  height: 30px;
  border-radius: 4px;

}


.smallbox > p {

font-size: 24px;

}
